.wrapper{
    justify-content: center;
    $hover-color:rgb(248, 248, 248);
    .container{
        padding: 1%;
        border-radius: 10px;
        .SearchBarWrapper{
            .SearchIcon{
                font-size: x-large;
                &:hover{
                    cursor: pointer;
                }
            }
            .AddressInputField{
                border-style: none;
                border-bottom-style: solid;
                &:focus{
                    box-shadow: none;
                }
                &:hover{
                    background-color: $hover-color
                }
            }
            .SearchIcon{
                border-style: none;
                background-color: white;
                &:hover{
                    background-color: $hover-color
                }
            }
        }
        .GetLocationWrapper{
            
            .GetLocationIcon{
                margin-left: 100%;
                font-size: x-large;
                &:hover{
                    cursor: pointer;
                }
            }
        }
       
    }
    .RoutesWrapper{
        .closeRoutesIcon{
            font-size: x-large;
            margin-left: 96%;
            &:hover{
                cursor: pointer;
            }
        }
        .routesIcon{
            font-size: x-large;
        }
        .startingPointIcon
        {
            color: blue;
        }
        .destinationIcon{
            color: rgb(208, 0, 0);
        }
        .getCurrentPositionIcon{
            color: rgb(208, 0, 0);
            &:hover{
                cursor: pointer;
            }
        }
    }
}